body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.name,
.menu {
  font-size: 18px;
  line-height: 21px;
  color: #f1f1f1;
  margin-top: 15px;
}

.control {
  margin: 0 auto;
  height: 50px;
  background-color: #4e4e4e;
}

.name {
  font-weight: 700;
}

.box-menu {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.menu {
  font-weight: 400;
  display: inline-block;
}

.cover {
  margin: 0 auto;
  height: 100vh;
  background-image: url("cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
  position: absolute;
  opacity: 0.15;
  z-index: 2;
}

.text {
  display: flex;
  flex-direction: column;
}

.intro,
.slogan,
.offer {
  font-weight: 700;
  z-index: 3;
}

.slogan,
.offer {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.intro {
  width: 577px;
  height: 46.11px;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-top: 100px;
}

.slogan {
  width: 276px;
  height: 23.13px;
  margin-top: 70px;
}

.button {
  box-sizing: border-box;
  width: 164px;
  height: 40.74px;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.offer {
  align-self: center;
}
